.title {
    position: relative;
    height: 50px;
    border-top: 1px solid #ffffff;

    &__text {
        position: absolute;
        transform: translate(-50%, -50%);
        top: -70%;
        left: 50%;
        width: 40%;
        text-align: center;
        background: #d52629;
        font-family: Liddar;
        font-size: 3.6vw;
        color: #ffffff;
    }
}