.time {
    margin-top: -253px;
    padding-bottom: 185px;

    &__img {

    }

    &__title {
        padding-right: 100px;
        padding-bottom: 35px;
        margin-bottom: 40px;
        text-align: right;
        font-family: Liddar;
        font-size: 70px;
        line-height: 1.2;
        color: #ffffff;
        background: url(../img/card-icon.png) no-repeat;
        background-position: right 20px;
        background-size: 95px;

        @media screen and (max-width: $screen-md) {
            font-size: 50px;
            background-size: 50px;
            padding-right: 60px;
        }
    }

    &__item-descr {
        font-family: Heebo;
        font-weight: 100;
        font-size: 64px;
        color: #ffffff;
        margin-bottom: -20px;

        

        @media screen and (max-width: $screen-md) {
            font-size: 20px;
        }

        @media screen and (max-width: $screen-sm) {
            font-size: 16px;
        }
    }

    &__sold {
        padding-left: 90px;
        margin-top: -10px;
        width: 40%;
        height: 110px;
        font-family: Liddar;
        color: #d52629;
        background: url(../img/time-item-icon.png) no-repeat;
        background-position: -40px 10px;

        @media screen and (max-width: $screen-sm) {
            width: 60% !important;
        }

        @media screen and (max-width: $screen-md) {
            background-size: contain;
            width: 40%;
            background-position: -25px 4px;
            height: 80px;
            padding-left: 70px;
        }


        span {
            display: inline-block;
            margin-top: -15px;
            font-size: 105px;
            line-height: 1;

            @media screen and (max-width: $screen-md) {
                font-size: 60px;
                margin-top: 0;
            }
        }

        span:nth-of-type(1) {
            font-size: 50px;

            @media screen and (max-width: $screen-md) {
                font-size: 40px;
            }
        }
    }
}