.information {
    padding-top: 35px;
    padding-left: 2%;
    padding-right: 10.5%;
    background: url(../img/male-sex.png);
    background-repeat: no-repeat;
    background-position: 98% 50px;
    background-size: 14.2vw 11.1vw;

    @media screen and (max-width: $screen-sm) {
        padding-left: 5%;
        padding-right: 5%;
    }
}