.button {

    margin-top: -100px;
    padding-bottom: 100px;

    @media screen and (max-width: $screen-md) {
        margin-top: -50px;
    }

    &:hover a {
        color: rgba($color: #fff, $alpha: 0.5);
        text-decoration: none;
        transition: .5s ease-in;
    }

    &__link {
        text-decoration: none;
        transition: .5s ease-in;
        @include font (Liddar, 9.3vw, null, 1, #ffffff);

        @media screen and (max-width: $screen-md) {
            font-size: 80px;
        }
    }
}