.guarantees {

    padding-top: 68px;

    @media screen and (max-width: $screen-md) {
        padding-left: 25px;
        padding-right: 25px;
    }

    &__list {
        padding-left: 8%;
        padding-right: 70px;

        @media screen and (max-width: $screen-md) {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    &__item {
        margin-bottom: 60px;
    }

    &__item-descr {
        text-align: right;
        @include font (Heebo, 24px, normal, 1.5, #ffffff);
    }

    &__list-icon {
        background: url(../img/harts.svg) no-repeat;
        background-size: 80%;
        background-position: 110px 20px;

        @media screen and (max-width: $screen-md) {
            background: none;
        }

        @media screen and (max-width: 550px) {
            display: none;
        }
    }

    &__icon {
        position: relative;
        height: 165px;
        width: 125px;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 50px;
            bottom: 0;
            left: 50%;
            border-left: 1px dashed #ffffff;
            
        }
    }

    &__icon:nth-last-of-type(1) {
        &::before {
            display: none;
        }
    }

    &__icon:nth-of-type(1) {
        background: url(../img/reward-icon.png) no-repeat;
        background-size: 125px;
    }

    &__icon:nth-of-type(2) {
        background: url(../img/contract-icon.png) no-repeat;
        background-size: 125px;
    }

    &__icon:nth-of-type(3) {
        background: url(../img/shield-icon.png) no-repeat;
        background-size: 125px;
    }
}