.info {

    padding-top: 193px;

    @media screen and (max-width: $screen-lg) {
        margin-left: -50%;
        padding-top: 50px
    }

    @media screen and (max-width: $screen-sm) {
        padding-top: 20px !important;
    }

    &__text {
        margin-bottom: 7px;
    }
    
    &__title {

        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $screen-lg) {
            margin-bottom: 10px;
        }

        &-icon {
            width: 44%;
            background: url(../img/info-text-bg.png) no-repeat;
            background-position: left center;
            background-size: contain;
            

            &--tape {
                background: url(../img/info-text-tape-bg.png) no-repeat;
                background-size: contain;
                background-position: left center;
            }
        }

        &-desc {
            @include font (Heebo, 2.81vw, bold, 1, #ffffff);
            text-align: right;
            display: inline-block;

            @media screen and (max-width: $screen-md) {
                font-size: 5.5vw;
            }

            @media (min-width: $screen-md) and (max-width: $screen-lg) {
                font-size: 2.8vw;
            }
            
            @media screen and (min-width: 1920px) {
                font-size: 54px;
            }
        }
    }

    &__subtitle {
        text-align: right;
        margin-top: -20px;
        @include font (Heebo, 6vw, normal, 1, #ffffff);

        @media screen and (max-width: $screen-md) {
            font-size: 12.1vw;
        }

        @media (min-width: $screen-md) and (max-width: $screen-lg) {
            font-size: 6vw;
        }

        @media screen and (min-width: 1920px) {
            font-size: 116px;
        }
    }
}