.information {
    padding-top: 36px;
    padding-left: 3.9%;
    padding-right: 12%;
    background: url(../img/male-sex.png);
    background-repeat: no-repeat;
    background-position: 50.2% 15px;
    background-size: 14.2vw 11.1vw;

    @media screen and (max-width: $screen-lg) {
        padding-left: 5%;
        padding-right: 5%;
        background: none;
    }
}