.night {
    
    margin-top: -10px;
    padding-bottom: 75px;

    @media screen and (max-width: $screen-sm) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    &__text {
        padding-top: 40px;
        
        @media screen and (max-width: $screen-sm) {
            padding-right: 0;
        }

        @media screen and (max-width: $screen-xs) {
            padding-top: 10px;
            padding-left: 0;
        }
    }

    &__title {
        text-align: right;
        @include font (null, 3vw, 300, 1, #ad5096);

        @media screen and (min-width: 1920px) {
            font-size: 50px;
        }

        @media screen and (max-width: $screen-sm) {
            font-size: 6.7vw;
        }
    }

    &__descr {
        text-align: right;
        @include font (null, 1.57vw, normal, 1, #ffffff);

        @media screen and (min-width: 1920px) {
            font-size: 25px;
        }

        @media screen and (max-width: $screen-sm) {
            font-size: 3.9vw;
        }
    }

    .phone {
        margin-top: -1.2w;

        .phone__link {
            padding-bottom: 2.6vw;
            line-height: 1;
        }

        .phone__icon {
            width: 7.5vw;
            height: 7.5vw;
            margin-top: 3vw;
        }

        @media screen and (max-width: $screen-sm) {
            display: none !important;
        }
    }

    
}