.phone-mobile {

    padding-bottom: 35px;
    margin-bottom: 50px;
    background: url(../img/tel-bg.png) no-repeat;
    background-position: bottom center;
    background-size: 60%;

    &__title {
        @include font (Liddar, 11.25vw, null, 1, #a64c90);
        margin-bottom: 30px;
    }

    &__wrapper {
        background: #d52629;
        border-radius: 50px;
        height: 15.8vw;

        &:hover {
            background: rgba($color: #d52629, $alpha: 0.8);
        }

        &:hover a {
            text-decoration: none;
        }
    }

    &__link {
        @include font (Liddar, 19vw, null, 0, #ffffff);
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
    }

    @media (min-width: 769px) {
        display: none;
    }
}

.phone-mobile.white {
    background: url(../img/tel-bg-white.png) no-repeat;
    background-position: bottom center;
    background-size: 60%;
    margin-bottom: 0;
    padding-bottom: 28px;

    .phone-mobile__wrapper {
        background-color: #ffffff;
    }
    .phone-mobile__title {
        color: #ffffff;
    }
    .phone-mobile__link {
        color: #d52629;
    }
}