.phone {
    margin-top: -1.2vw;
    padding-bottom: 20px;
    
    &__link {
        padding-bottom: 2.8vw;
        text-decoration: none;
        background: url(../img/tel-bg.png) no-repeat;
        background-position: 55% bottom;
        background-size: contain;
        transition: .5s ease-in-out;
        @include font (Liddar, 6.9vw, null, 1, #d52529);

        @media screen and (max-width: $screen-sm) {
            font-size: 50px;
            padding-bottom: 20px;
        }
    }

    &__icon {
        margin-top: 2.8vw;
        margin-left: 20px;
        width: 7.5vw;
        height: 7.5vw;
        background: url(../img/tel-icon.png) no-repeat;
        background-size: contain;

        @media screen and (max-width: $screen-sm) {
            width: 60px;
            height: 60px;
            margin-top: 25px;
        }
    }

    &:hover a {
        color: rgba(213, 37, 41, .5);
        text-decoration: none;
        transition: .5s ease-in-out;
    }
}