.time {
    padding-bottom: 170px;

    &__title {
        padding-right: 100px;
        padding-bottom: 22px;
        margin-bottom: 40px;
        text-align: right;
        background: url(../img/card-icon.png) no-repeat;
        background-position: right 20px;
        background-size: 85px;
        @include font (Liddar, 70px, null, 1.2, #ffffff);

        @media screen and (max-width: $screen-md) {
            font-size: 50px;
            background-size: 50px;
            padding-right: 60px;
        }
    }

    &__list {
        margin-top: -9px;
    }

    &__item-descr {
        margin-bottom: -20px;
        @include font (Heebo, 64px, 100, null, #ffffff);

        @media screen and (max-width: $screen-md) {
            font-size: 20px;
        }

        @media screen and (max-width: $screen-sm) {
            font-size: 16px;
        }
    }

    &__sold {
        padding-left: 90px;
        margin-top: -10px;
        width: 40%;
        height: 110px;
        background: url(../img/time-item-icon.png) no-repeat;
        background-position: -40px 10px;
        @include font (Liddar, null, null, null, #d52629);

        @media screen and (max-width: $screen-sm) {
            width: 60% !important;
        }

        @media screen and (max-width: $screen-md) {
            background-size: contain;
            width: 40%;
            background-position: -25px 4px;
            height: 80px;
            padding-left: 70px;
        }


        span {
            display: inline-block;
            margin-top: -15px;
            font-size: 105px;
            line-height: 1;

            @media screen and (max-width: $screen-md) {
                font-size: 60px;
                margin-top: 0;
            }
        }

        span:nth-of-type(1) {
            font-size: 50px;

            @media screen and (max-width: $screen-md) {
                font-size: 40px;
            }
        }
    }
}