.time {
    padding-bottom: 170px;

    @media screen and (max-width: $screen-md) {
        padding-bottom: 80px;
    }

    &__title {
        padding-right: 100px;
        padding-bottom: 22px;
        margin-bottom: 40px;
        text-align: right;
        background: url(../img/card-icon.png) no-repeat;
        background-position: right 20px;
        background-size: 85px;
        @include font (Liddar, 70px, null, 1.2, #ffffff);

        @media screen and (max-width: $screen-md) {
            padding-right: 0;
            padding-top: 15.6vw;
            text-align: center;
            font-size: 9.37vw;
            background-size: 18vw;
            background-position: center top;
        }
    }

    &__list {
        margin-top: -9px;

        @media screen and (max-width: $screen-md) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__item {
        @media screen and (max-width: $screen-xs) {
            position: relative;
            margin-bottom: 70px;
        }

        &:nth-of-type(2) {
            @media screen and (max-width: $screen-xs) {
                margin-bottom: 0;
            }
    
        }
    }

    &__item-descr {
        
        margin-bottom: -20px;
        @include font (Heebo, 64px, 100, null, #ffffff);

        @media (min-width: $screen-xs) and (max-width: $screen-md) {
            font-size: 6vw;
        }

        @media screen and (max-width: $screen-xs) {
            position: absolute;
            top: -6vw;
            left: 13vw;
            width: 100%;
            font-size: 10vw;
        }
    }

    &__sold {
        padding-left: 90px;
        margin-top: -10px;
        width: 40%;
        height: 110px;
        background: url(../img/time-item-icon.png) no-repeat;
        background-position: -40px 10px;
        @include font (Liddar, null, null, null, #d52629);

        @media screen and (max-width: 639px) {
            padding-left: 55px;
            
        }

        @media screen and (max-width: $screen-md) {
            background-size: 255px 109px;
            width: 260px;
            height: 110px;
            padding-left: 50px;
        }


        span {
            display: inline-block;
            margin-top: -15px;
            font-size: 105px;
            line-height: 1;

            @media screen and (max-width: $screen-md) {
                font-size: 118px;
                margin-top: -30px;
            }
        }

        span:nth-of-type(1) {
            font-size: 50px;

            @media screen and (max-width: $screen-md) {
                font-size: 40px;
                margin-left: 10px;
            }
        }
    }
}