.title {
    position: relative;
    height: 50px;
    border-top: 1px solid #ffffff;

    &__text {
        position: absolute;
        top: -55%;
        left: 50%;
        width: 36%;
        text-align: center;
        transform: translate(-50%, -50%);
        background: #d52629;
        @include font (Liddar, 3.6vw, null, null, #ffffff);

        @media screen and (max-width: 500px) {
            font-size: 9.3vw;
            width: 90%;
            top: -28%;
        }

        @media (min-width: 500px) and (max-width: $screen-md) {
            top: -40%;
            font-size: 9.3vw;
            width: 90%;
        }

        @media (min-width: $screen-md) and (max-width: $screen-lg) {
            top: -40%;
        }

        @media (min-width: $screen-lg) and (min-width: $screen-xl) {
            font-size: 70px;
        }
    }
}