// Подключение своих шрифтов.
// Не пишите тут ничего, кроме @font-face

@font-face {
    font-family: 'Liddar';
    src: url('../fonts/Liddar-Bold.eot');
    src: local('Liddar Bold'), local('Liddar-Bold'),
        url('../fonts/Liddar-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Liddar-Bold.woff2') format('woff2'),
        url('../fonts/Liddar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.eot');
    src: local('Heebo-Medium'),
        url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Medium.woff2') format('woff2'),
        url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Light.eot');
    src: local('Heebo-Light'),
        url('../fonts/Heebo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Light.woff2') format('woff2'),
        url('../fonts/Heebo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Thin.eot');
    src: local('Heebo-Thin'),
        url('../fonts/Heebo-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Thin.woff2') format('woff2'),
        url('../fonts/Heebo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.eot');
    src: local('Heebo-Regular'),
        url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.eot');
    src: local('Heebo Bold'), local('Heebo-Bold'),
        url('../fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.eot');
    src: local('Heebo-Black'),
        url('../fonts/Heebo-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Black.woff2') format('woff2'),
        url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-ExtraBold.eot');
    src: local('Heebo-ExtraBold'),
        url('../fonts/?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-ExtraBold.woff2') format('woff2'),
        url('../fonts/Heebo-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('../fonts/AmaticSC-Bold.eot');
    src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
        url('../fonts/AmaticSC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AmaticSC-Bold.woff2') format('woff2'),
        url('../fonts/AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('../fonts/AmaticSC-Regular.eot');
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
        url('../fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AmaticSC-Regular.woff2') format('woff2'),
        url('../fonts/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
